<nav id="navbar">
    <ul>
    <li><a href="registration.hbs"> Registration</a></li>
    <li><a href="postimage.hbs"> Post Image</a></li>
    <li><a href="imagepost.hbs"> Image Post</a></li>
    <li><a href="login.hbs"> Login</a></li>
    </ul>
    <div class="search">
        <input type="search" placeholder="search for images!"/>
    </div>
</nav>