<!DOCTYPE html>
<html lang="en">
<head> <!-- -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Post Image</title>
</head>
<body>
<nav><ul>
    <strong><li><a href="registration.hbs"> Registration</a></li>
        <a href="postimage.hbs">  <li>Post Image</li></a>
        <a href="imagepost.hbs">  <li>Image Post</a></li>
        <a href="login.hbs">  <li>Login</a></li>
    </strong>
</ul></nav>
{{{body}}}
{{>footer}}
</body>
</html>