<!DOCTYPE html>
<html lang="en">
<head> <!-- -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script defer src="/public/js/frontendjs.js"></script>
    <title>{{title}}</title>
</head>
<body>
<div id="container" class="main">
{{log this}}
{{>header}}
{{#if (emptyObject messages)}}
    {{> flashmessage}}
    {{/if}}
{{{body}}}
{{>footer}}
{{#if logged}}
    <script>
        let ele = document.getElementById('logout-button');
        if(ele) {
            ele.onclick = (even) => {
                fetch('/users/logout',{
                    method:"POST"
                })
                .then((data) => {
                    location.replace('/');
                })
            }
        }
    </script>
    {{/if}}
</div>
</body>
</html>