<head><h1> View Post</h1>
</head>
<div id="posts">
    <section id="postName"><h2>Post Name</h2></section>
    <section id="postBody"><p>This is a sample post.</p></section>
    <section id="userInfo"><small>Posted by Jon Doe<br /></small></section>
    <section id="dateInfo"><small>@ 2:00pm 6/16/2020<br />
    </small></section>
</div> <!--blog posts -->
<br />

