<!DOCTYPE html>
<html lang="en">
<head> <!-- -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Image Post</title>
</head>
<body>
<header id="viewTitle" class="pageTitle">
    <h1> View Post</h1>
</header>
<nav><ul>
        <strong><li><a href="registration.hbs"> Registration</a></li>
            <a href="postimage.hbs">  <li>Post Image</li></a>
            <a href="imagepost.hbs">  <li>Image Post</a></li>
            <a href="login.hbs">  <li>Login</a></li>
        </strong>
    </ul></nav>

<div id="posts">
    <section id="postName"><h2>Post Name</h2></section>
    <section id="postBody"><p>This is a sample post.</p></section>
    <section id="userInfo"><small>Posted by Jon Doe<br /></small></section>
    <section id="dateInfo"><small>@ 2:00pm 6/16/2020<br />
    </small></section>
</div> <!--blog posts -->
<br />


    <footer>Copyright 2020<br />
        San Francisco State University <br />
        William Lushbough <br />
    </footer>
</body>
</html>