<!DOCTYPE html>
<html lang="en">
<head> <!-- -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Login</title>
</head>
<body>
<header id="loginTitle" class="pageTitle">
    <h1> Login</h1>
</header>
<nav><ul>
    <strong><li><a href="registration.hbs"> Registration</a></li>
        <a href="postimage.hbs">  <li>Post Image</li></a>
        <a href="imagepost.hbs">  <li>Image Post</a></li>
        <a href="login.hbs">  <li>Login</a></li>
    </strong>
</ul></nav>

 <form>
        <fieldset><legend>Login</legend>
        <label for="username">username: </label>
        <input type="text" id="username" name="username" required /><br />

        <label for="password">password: </label>
        <input type="password" id="password" name="password" required />
        </fieldset>
     <br />
         <button id="submit" type="submit">enter</button>
         <button id="reset" type="reset">reset</button>
     <br />
 </form>


    <footer>Copyright 2020<br />
        San Francisco State University <br />
        William Lushbough <br />
    </footer>
</body>
</html>