<head><h1> Login</h1>
</head>
<div id="login">

    <form>
        <fieldset>
            <legend>Login</legend>
            <label for="username">username: </label>
            <input type="text" id="username" name="username" required/><br/>

            <label for="password">password: </label>
            <input type="password" id="password" name="password" required/>
        </fieldset>
        <br/>
        <button id="submit" type="submit">enter</button>
        <button id="reset" type="reset">reset</button>
        <br/>
    </form>
</div>