<!DOCTYPE html>
<html lang="en">
<head> <!-- -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Post Image</title>
</head>
<body>
<header id="postTitle" class="pageTitle">
    <h1> Post Image</h1>
</header>

    <nav><ul>
        <strong><li><a href="registration.hbs"> Registration</a></li>
            <a href="postimage.hbs">  <li>Post Image</li></a>
            <a href="imagepost.hbs">  <li>Image Post</a></li>
            <a href="login.hbs">  <li>Login</a></li>
        </strong>
    </ul></nav>

<form>
    <fieldset><legend>New Post</legend>
    <label>Post Title</label>
    <input type="text" required> <br />
    <label>Post Description</label> <input type="text" > <br />
    <input type="checkbox" name="checkbox" value="check" id="age" /> I accept the <a href="" target="_blank">Acceptable Use Policy</a> for uploading images <br />
    <label>Upload Image</label> <input type="file"> <br />
</fieldset>
    <br />
    <button id="submit" type="submit">submit</button>
    <button id="reset" type="reset">reset</button>
    <br />

</form>

    <footer>Copyright 2020<br />
        San Francisco State University <br />
        William Lushbough <br />
    </footer>
</body>
</html>