<head><h1> Post Images</h1>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<div id="post" class="main">

    <form id="post-image" method="POST" enctype="multipart/form-data" action="/posts/createPost">
        <fieldset>
            <legend>New Post</legend>
            <label>Post Title</label>
            <input id="post-title" name="title" type="text" required placeholder="Post Title"> <br/>
            <label>Post Description</label> <input id="post-desc" name="description" type="text" placeholder="post description here..."> <br/>
            <input type="checkbox" name="checkbox" value="check" id="age"/> I accept the <a href="" target="_blank">Acceptable
            Use Policy</a> for uploading images <br/>
            <label>Upload Image</label> <input id="img-select" name="uploadImage" type="file" required> <br/>
        </fieldset>
        <br/>
        <button id="submit" type="submit">submit</button>
        <button id="reset" type="reset">reset</button>
        <br/>

    </form>
</div>
