<head><h1> Post Images</h1>
</head>
<div id="post">

    <form>
        <fieldset>
            <legend>New Post</legend>
            <label>Post Title</label>
            <input type="text" required> <br/>
            <label>Post Description</label> <input type="text"> <br/>
            <input type="checkbox" name="checkbox" value="check" id="age"/> I accept the <a href="" target="_blank">Acceptable
            Use Policy</a> for uploading images <br/>
            <label>Upload Image</label> <input type="file"> <br/>
        </fieldset>
        <br/>
        <button id="submit" type="submit">submit</button>
        <button id="reset" type="reset">reset</button>
        <br/>

    </form>
</div>
