html {
    font-family: Arial;
    text-emphasis-color: red;
    background-color: black;
    color: blue;

}

ul{
    display: flex;
    list-style: none;
    background-color: yellow;
}

li{
    background-color: yellow;
    padding: 10px;
}
#navbar {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;

    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-color: yellow;
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;

    margin-bottom: 10px;
}


a:visited {
    color: red;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
}
a:link {
    color: red;
}

a:hover {
    color: blue;
}
a:active {
    color: blue;
}

.active {
    background-color: black;
}

header{
    background-color: black;
    font-size: x-large;
    color: red;
    text-align: center;
    border-radius: 25px;


}

.main{
    background-color: yellow;
    border-color: yellow;
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;
    align-content: center;
    align: center;
    text-align: center;
    width: auto;
    margin: auto;
}

body {
    background-color: yellow;
    color: black;
    align-content: center;
    align: center;
    text-align: center;
    width: 800px;
    height: auto;
    margin: auto;
    border-radius: 25px;
}

form {
    background-color: yellow;

}

label{
    align: center;


}

fieldset {
    border: none;
    text-align: center;
    background-color: yellow;

}

section #submit {
    background-color: yellow;

}

footer {
    text-align: center;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    color: yellow;
    border-radius: 25px;
    box-shadow: 4px 5px 10px 0 gray;

}
.apptitle{
    color: yellow;
    padding: 40px;
    text-align: center;
    background: black;
    border-radius: 25px;
    font-size: 30px;
    box-shadow: 4px 5px 10px 0 gray;
    margin-bottom: 20px;


}




#flash-message{
    align-content: center;
    background-color: black;
    color: yellow;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
    border-radius: 25px;
    box-shadow: yellow;
}
#flash-message div {
    text-align: center;
}

#posts {
    text-align: center;
    background-color: yellow;
    color: black;
}
#submit{
    background-color: black;
    color: yellow;
}
#reset{
    background-color: black;
    color: yellow;
}
#main-error{
    display: grid;
    margin:20px auto auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: .15rem;
}

#main-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

#home{
    margin: auto;
}

.card {
    align-content: center;
    max-width: 200px;
    margin: auto;
    text-align: center;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: black;
    border-radius: 25px;
    color: yellow;
    box-shadow: 4px 5px 10px 0 gray;

}
.card a:visited {
    color: yellow;
}


.card-image {
    background-color: black;
    border-radius: 25px;
}
.card-body{
    color: yellow;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
.card-text{
    color: yellow;
    background-color: black;

}

.card-title{
    background-color: black;
    color: yellow;
    font-size: large;
}

.card a:link{
    color: yellow;
}
.card a:active{
    color: yellow;
}
.anchor-buttons a:visited{
    color: yellow;
}

#nav-buttons:hover{
border-color: black;
    border-style: solid;
    border-width: 1px;
}

#search-button:hover{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
#nav-buttons{
    cursor: pointer;
    padding: 10px;
    float: left;
    background-color: yellow;
    color: black;
    box-shadow: 4px 5px 10px 0 gray
}

#search-button{
    cursor: pointer;
    padding: 10px;
    float: left;
    background-color: yellow;
    color: black;
    box-shadow: 4px 5px 10px 0 gray
}


img {
    max-width:100%;
    height:auto;
}


