html {
    font-family: Arial;
    text-emphasis-color: red;
    color: red;
    background-color: red;

}
label{
    border-color: red;
    border-width: 2px;
}
ul{
    display: flex;
    list-style: none;
    background-color: yellow;
}

li{
    background-color: yellow;
    padding: 10px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: blue;
}
a:link {
    color: red;
}

a:hover {
    color: blue;
}
a:active {
    color: blue;
}
a:visited{
    color: red;
}
.active {
    background-color: blue;
}

header{
    background-color: yellow;
    font-size: x-large;
    color: red;
    text-align: center;

}

body {
    background-color: yellow;
    border-color: red;
    border-style: dashed;
    border-width: 8px;
    align-content: center;
    align: center;
    text-align: center;
    width: 800px;
    margin: auto;

}

form {
    background-color: yellow;

}

label{
    align: center;


}

fieldset {
    border: none;
    text-align: center;
    background-color: yellow;

}

section #submit {
    background-color: yellow;

}

footer {
    text-align: center;
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 10px;

}

#flash-message{
    align-content: center;
    background-color: white;
    color: red;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
}
#flash-message div {
    text-align: center;
}

#posts {
    text-align: center;
    background-color: yellow;
    color: red;
}
#submit{
    background-color: red;
    color: yellow;
}
#reset{
    background-color: blue;
    color: yellow;
}

